package post

import (
	"blog/internal/ui"
	"strconv"
)

templ PostsIndexPage(
	english []yearGroup,
	persian []yearGroup,
	tags []Tag,
) {
	@ui.Layout("Blog") {
		<header class="container index-wide">
			<hgroup>
				<h1>Blog</h1>
				<p>Thoughts, notes, and experiments</p>
			</hgroup>
			<nav>
				<ul>
					for _, tag := range tags {
						<li>
							<a href={ templ.URL("/tag/" + tag.Slug) }>
								{ tag.Name }
							</a>
						</li>
					}
				</ul>
			</nav>
		</header>
		<section class="container index-wide">
			<div class="posts-grid">
				<!-- English -->
				<section>
					for _, group := range english {
						<h3>{ strconv.Itoa(group.year) }</h3>
						<ul>
							for _, post := range group.posts {
								<li>
									<a href={ templ.URL("/post/" + post.Slug) }>
										{ post.Title }
									</a>
									<small class="post-date">
										{ post.PublishedAt.Format("02 Jan") }
									</small>
								</li>
							}
						</ul>
					}
				</section>
				<!-- Farsi -->
				<section dir="rtl">
					for _, group := range persian {
						<h3>{ strconv.Itoa(group.year) }</h3>
						<ul>
							for _, post := range group.posts {
								<li>
									<a href={ templ.URL("/post/" + post.Slug) }>
										{ post.Title }
									</a>
									<small class="post-date">
										{ post.PublishedAt.Format("02 Jan") }
									</small>
								</li>
							}
						</ul>
					}
				</section>
			</div>
		</section>
	}
}
